@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');


body{

    margin: 0;
    color: #767676;
    font-family: 'Oswald', sans-serif;
}

header{
    padding: 30px;
}
.container{
    width:  1000px;
    margin: auto;
   overflow: hidden;
}
.logo{
    width: 20%;
    float: left;
}
.logo a{
    padding: 15px;
    display: block;
}
.logo a img{}
nav{
    width: 80%;
    float: left;
    overflow: hidden;
}
nav ol{
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ol li{
    list-style: none;
    display: inline;
}
nav ol li a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    color: #767676;
}
nav ol li a:hover{
    color: #76767699;
}
/********/
.article-section{
}
article{
    padding: 55px;
}
h6{
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
}
h1{
    margin: 0;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}
p{
}
.comment{
    text-decoration: none;
    color: #767676;
    text-transform: uppercase;
    font-weight: 100;
}
/*****/
.post-sction{}
.post{
    width: 50%;
    float: left;
    padding: 0 25px;
    box-sizing: border-box;
}
.post img{
    width: 100%;
    display: block;
}

/***********/
footer{
    background-color: #F0F0F0;
    padding: 50px;
}
.footer-menu{
    width: 50%;
    float: left;
}
.footer-menu ol{
    margin: 0;
    padding: 0;
}
.footer-menu ol li {
    float: left;
    list-style: none;
}
.footer-menu ol li a{
    color: #212121;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}
.footer-menu ol li a:hover{
    color: #212121bf;
}

.social-menu{
    width: 50%;
    float: left;
}
.social-menu ol{
    margin: 0;
    padding: 0;
    text-align: right;
}
.social-menu ol li{
    list-style: none;
    display: inline-block;
}
.social-menu ol li a{
    padding: 15px;
    display: inline-block;
    color: #212121;
}
.social-menu ol li a:hover{
    color: #212121bf;

}
    

